.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #414040;
    padding: 3rem 0;
    color: #fff;
    bottom: 0;
    position: ;
    margin-top: 5rem;
    width: 100vw;
    height: 140px;
  }
  
  .social {
    font-size: 3.5em;
  }